# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Internet Programming Labs\lab-7-adxam4201-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
